name: Tag
on:
  workflow_dispatch:
    inputs:
      releasetype:
        description: 'Tag current branch'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch 
          - minor
          - major
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ""
          default_bump: ${{ inputs.releasetype }}
